.landingContainer {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(249, 251, 253, 1);
    padding-top: 100px;
}

.landingHeader {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--gray);
}

    .landingHeaderLeft {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .landingHeaderLeftImg {
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        user-select: none;
        -webkit-user-drag: none;
    }

    .landingHeaderLeftText {
        font-size: 20px;
        color: var(--lightGray);
        margin-left: 20px;
        font-weight: bold;
    }

    .landingHeaderLeftText2 {
        font-size: 12px;
        color: var(--blue);
        margin-left: 12px;
        font-weight: bold;
        margin-top: 3px;
        user-select: none;
    }

    .landingHeaderRight {
        padding: 10px 20px;
        background-color: var(--darkGray);
        color: var(--blue);
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
    }

    .landingIntro {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        padding: 0 200px;
    }

    .landingIntroUpper {
        font-size: 28px;
        color: var(--black);
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }

    .landingIntroLower {
        font-size: 17px;
        color: var(--lightGray);
        margin-bottom: 20px;
        text-align: center;
        line-height: 1.6;
    }

    .landingButton {
        padding: 12px 24px;
        background-color: var(--darkGray);
        color: var(--blue);
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        margin-top: 20px;
        transition: 0.2s linear;
        margin-bottom: 140px;
    }

    .landingButton:hover {
        transition: 0.2s linear;
        background-color: rgb(191, 209, 238);
    }

    .landingSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 160px;
        margin-bottom: 100px;
        max-width: 1400px;
    }

    .landingSectionTitle {
        font-size: 22px;
        color: var(--black);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
    }

    .landingSectionCharts {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .landingSectionDesc {
        font-size: 16px;
        color: var(--lightGray);
        margin-bottom: 60px;
        line-height: 1.6;
    }

    .landingSectionDonut {
        height: 400px;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .landingSectionBar {
        height: 400px;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .landingFooter {
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--darkGray);
    }

    .landingFooterText {
        color: var(--lightGray);
        font-size: 14px;
        user-select: none;
    }

    .landingSectionDesc2 {
        font-size: 16px;
        color: var(--lightGray);
        margin-bottom: 60px;
        line-height: 1.6;
        width: 100%;
    }

    .landingJoinButton {
        padding: 12px 24px;
        background-color: var(--darkGray);
        color: var(--blue);
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        transition: 0.2s linear;
    }

    .landingJoinButton:hover {
        transition: 0.2s linear;
        background-color: rgb(191, 209, 238);
    }

@media screen and (max-width: 1100px) {
    .landingSectionCharts {
        flex-direction: column;
        width: 100%;
    }

    .landingSectionDonut {
        width: 100%;
    }

    .landingSectionBar {
        width: 100%;
    }

    .landingSection {
        padding: 0 80px;
    }

    .landingIntro {
        padding: 0 100px;
    }
}

@media screen and (max-width: 750px) {
    .landingSection {
        padding: 0 40px;
    }

    .landingIntro {
        padding: 0 60px;
    }

    .landingHeader {
        padding: 0 40px;
    }
}

@media screen and (max-width: 450px) {
    .landingSection {
        padding: 0 20px;
    }

    .landingIntro {
        padding: 0 30px;
    }

    .landingHeader {
        padding: 0 20px;
    }
}
