.addProblemBody {
    min-height: 100vh;
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 60px;
}

    .addProblemBodyOverview {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        margin-top: 20px;
    }

        .addProblemBodyOverviewText {
            font-size: 23px;
            font-weight: bold;
        }

    .addProblemBodyAdd {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0;
        border-top: 1px solid rgba(220, 220, 220, 0.56);
        border-bottom: 1px solid rgba(220, 220, 220, 0.56);
        position: relative;
    }

        .addProblemBodyAddTitle {
            font-size: 19px;
            color: var(--lightGray);
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 12px;
        }

        .addProblemBodyAddInput {
            height: 66px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
            background-color: white;
            border: 1px solid rgba(220, 220, 220, 0.6);
            box-shadow: 0 0 10px rgba(220, 220, 220, 0.2);
            padding: 20px;
            font-size: 17px;
            margin-bottom: 24px;
        }

        .addProblemBodyAddButtonContainer {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .addProblemBodyAddButton {
                padding: 11px 18px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background-color: var(--blue);
                color: white;
                font-size: 14px;
                cursor: pointer;
            }

    .addProblemBodyCustom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
    }

    .addProblemBodyCustom1 {
        font-size: 14px;
        color: var(--lightGray);
        margin-right: 4px;
    }

    .addProblemBodyCustom2 {
        font-size: 14px;
        color: var(--blue);
        cursor: pointer;
        user-select: none;
        transition: 0.1s linear;
    }

    .addProblemBodyCustom2:hover {
        transition: 0.1s linear;
        color: #2466bd;
    }

    .addProblemBodyDropdown {
        height: 400px;
        position: absolute;
        left: 0;
        top: 150px;
        border-radius: 5px;
        overflow: auto;
        width: 100%;
    }

    .addProblemBodyDropdown::-webkit-scrollbar {
        width: 10px;
    }

    .addProblemBodyDropdown::-webkit-scrollbar-track {
        background-color: rgb(224, 231, 237);
        border-radius: 5px;
    }

    .addProblemBodyDropdown::-webkit-scrollbar-thumb {
        background-color: var(--darkGray);
        border-radius: 5px;
    }


    .addProblemBodyDropdownOption {
        width: 100%;
        padding: 12px 18px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--darkGray);
        transition: 0.1s linear;
        cursor: pointer;
        font-size: 15px;
    }

    .addProblemBodyDropdownOption:hover {
        transition: 0.1s linear;
        background-color: white;
    }

    .addProblemBodyCustomContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .addProblemBodyCustomOverview {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid rgba(220, 220, 220, 0.6);
    }

        .addProblemBodyCustomOverviewText {
            font-size: 23px;
            font-weight: bold;
        }

    .addProblemBodyTimer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 40px;
        position: relative;
    }

    .timerLeftArrowIcon {
        position: absolute;
        top: 0;
        left: 60px;
        font-size: 36px;
        color: var(--lightGray);
        cursor: pointer;
    }

        .addProblemBodyTimerUpper {
            width: 250px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 30px;
        }

            .addProblemBodyTimerUpperButton {
                height: 44px;
                width: 120px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: var(--lightGray);
                border-radius: 5px;
                color: white;
                cursor: pointer;
            }

            .addProblemBodyTimerLowerButton {
                height: 44px;
                width: 250px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: var(--blue);
                border-radius: 5px;
                color: white;
                cursor: pointer;
            }

            .addProblemBodyTimerSlider {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
            }

            .addProblemBodyProblem {
                padding: 24px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border: 1px solid rgba(220, 220, 220, 0.6);
                box-shadow: 0 0 10px rgba(220, 220, 220, 0.1);
                border-radius: 10px;
                margin-top: 40px;
            }

            .addProblemBodyProblemTitle {
                font-size: 14px;
                color: var(--lightGray);
                padding-right: 14px;
            }

            .addProblemTextError {
                font-size: 12px;
                color: var(--red);
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            .addProblemBodyProblemDifficulty {
                font-size: 14px;
                color: var(--lightGray);
            }

            .addProblemBodyProblemTopics {
                width: 300px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: center;
            }

            .addProblemBodyProblemTopic {
                padding: 4px 10px;
                border-radius: 30px;
                background-color: var(--darkGray);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                margin-right: 10px;
                margin-top: 4px;
                margin-bottom: 4px;
                user-select: none;
            }

            .greenText {
                color: var(--green) !important;
            }

            .yellowText {
                color: var(--yellow) !important;
            }

            .redText {
                color: var(--red) !important;
            }

            .addProblemQuestionContainer {
                height: 86px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border: 1px solid rgba(220, 220, 220, 0.6);
                box-shadow: 0 0 10px rgba(220, 220, 220, 0.1);
                border-radius: 10px;
                margin-top: 20px;
                position: relative;
                padding: 12px 24px;
            }

            .addProblemQuestionContainer2 {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                background-color: white;
                border: 1px solid rgba(220, 220, 220, 0.6);
                box-shadow: 0 0 10px rgba(220, 220, 220, 0.1);
                border-radius: 10px;
                margin-top: 20px;
                position: relative;
                padding: 32px 24px;
            }


            .addProblemQuestionText {
                font-size: 16px;
                color: var(--lightGray);
            }

            .addProblemQuestionOverlay {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.9);
                z-index: 2;
                border-radius: 10px;
            }

            .addProblemQuestionOptions {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }

            .addProblemQuestionOptions2 {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-top: 20px;
            }


            .addProblemQuestionOption {
                height: 40px;
                width: 80px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: var(--lightGray);
                color: white;
                border-radius: 5px;
                cursor: pointer;
                margin-left: 20px;
                user-select: none;
            }

            .addProblemQuestionOption2 {
                height: 40px;
                width: 60px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: var(--lightGray);
                color: white;
                border-radius: 5px;
                cursor: pointer;
                margin-right: 20px;
                user-select: none;
            }

            .selectedButton {
                background-color: var(--darkGray);
            }

            .addProblemQuestionsButtonContainer {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 24px 0;
            }

            .addProblemQuestionsButton {
                height: 44px;
                padding: 8px 14px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: var(--blue);
                border-radius: 5px;
                color: white;
                cursor: pointer;
            }

            .questionSpinnerBackdrop {
                min-height: 100vh;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(220, 220, 220, 0.4);
                position: fixed;
                top: 0;
                left: 0;
            }

            .questionSpinner {
                height: 100px;
                width: 100px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: var(--gray);
                border-radius: 10px;
            }
