.homeHeaderContainer {
    height: 66px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(220, 220, 220, 0.6);
    padding: 0 60px;
}

.homeHeaderContainerMain {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}

    .homeHeaderLeft {
        height: 100%;
        width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

        .homeHeaderLeftOption {
            height: 100%;
            margin: 0 12px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .homeHeaderLeftOption2 {
            height: 100%;
            margin: 0 12px;
            margin-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
            .homeHeaderLeftOptionText {
                font-size: 14px;
            }

        .homeHeaderBorderBottom {
            border-bottom: 1px solid var(--blue) !important;
        }

    .homeHeaderMiddle {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .homeHeaderRight {
        height: 100%;
        width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

        .homeHeaderRightUsername {
            font-size: 14px;
            color: var(--blue);
            padding: 10px 14px;
            background-color: var(--darkGray);
            border-radius: 5px;
            cursor: pointer;
            user-select: none;
        }

        .homeHeaderRightDropdown {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 54px;
            right: 60px;
        }

        .homeHeaderRightDropdownOption {
            width: 200px;
            height: 60px;
            padding: 12px 24px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            background-color: var(--darkGray);
            border: 1px solid rgba(220, 220, 220, 0.4);
            box-shadow: 0 0 10px rgba(220, 220, 220, 0.2);
        }

        .homeHeaderRightDropdownOptionText {
            font-size: 15px;
            color: var(--lightGray);
        }

        .homeHeaderRightDropdownOption:hover {
            background-color: var(--gray);
        }

        .homeHeaderRightUsernameIcon {
            font-size: 16px;
            color: var(--lightGray);
            position: relative;
        }

        .homeHeaderBrand {
            font-size: 18px;
            color: var(--lightGray);
            user-select: none;
        }
