.homeBodyContainer {
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 60px;
}

    .homeBodyContainerOverview {
        height: 100px;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid rgba(220, 220, 220, 0.6);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

        .homeBodyContainerOverviewLeft {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

            .homeBodySmallText {
                font-size: 10px;
                color: var(--lightGray);
                letter-spacing: 1px;
                margin-bottom: 8px;
            }

            .homeBodyHeaderText {
                font-size: 24px;
                color: var(--black);
                font-weight: 600;
            }

        .homeBodyContainerOverviewRight {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .homeBodyContainerOverviewRightButton {
                height: 40px;
                padding: 12px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background-color: var(--blue);
                color: white;
                font-size: 14px;
                cursor: pointer;
            }

    .homeBodyContainerKPIs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }

        .homeBodyContainerKPI {
            width: 31%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 5px;
            padding: 24px;
            box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
            border: 1px solid rgba(220, 220, 220, 0.4);
        }

            .homeBodyContainerKPILeft {
                height: 100%;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

                .homeBodyContainerKPILeftUpper {
                    font-size: 10px;
                    color: var(--lightGray);
                    margin-bottom: 10px;
                    letter-spacing: 1px;
                }

                .homeBodyContainerKPILeftLower {
                    font-size: 18px;
                    font-weight: bold;
                    color: var(--black);
                }

            .homeBodyContainerKPIRight {
                height: 100%;
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
            }

    .homeBodyDailyRecommendedContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeBodyDailyRecommendedUpper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 28px;
        border-radius: 10px;
    }

    .homeBodyDailyRecommendedUpper1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

        .homeBodyDailyRecommendedUpperText1 {
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: 1px solid rgba(220, 220, 220, 0.4);
            box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
            cursor: pointer;
        }

            .homeBodyDailyRecommendedUpperText11 {
                font-size: 14px;
                font-weight: bold;
            }

        .homeBodyDailyRecommendedUpperText2Container {
            padding: 16px 24px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-radius: 1px;
            border-left: 1px solid rgba(220, 220, 220, 0.4);
            border-right: 1px solid rgba(220, 220, 220, 0.4);
            border-bottom: 1px solid rgba(220, 220, 220, 0.4);
        }

            .homeBodyDailyRecommendedUpperText2 {
                font-size: 10px;
                font-weight: bold;
                letter-spacing: 1px;
                width: 150px;
                color: var(--newGray);
            }

            .homeBodyDailyRecommendedUpperText22 {
                font-size: 10px;
                font-weight: bold;
                letter-spacing: 1px;
                width: 200px;
                margin-right: 60px;
                color: var(--newGray);
            }

            .homeBodyDailyRecommendedUpperText23 {
                font-size: 10px;
                font-weight: bold;
                letter-spacing: 1px;
                width: 500px;
                color: var(--newGray);
            }

            .homeBodyDailyRecommendedUpperText24 {
                font-size: 10px;
                font-weight: bold;
                letter-spacing: 1px;
                color: var(--newGray);
                position: absolute;
                right: 0;
                margin-right: 84px;
            }

        .homeBodyDailyRecommendedUpperOption {
            padding: 16px 24px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid rgba(220, 220, 220, 0.4);
            cursor: pointer;
            background-color: white;
            transition: 0.1s linear;
        }

        .homeBodyDailyRecommendedUpperOption:hover {
            transition: 0.1s linear;
            background-color: var(--darkGray);
        }

            .homeBodyDailyRecommendedUpperOptionText1 {
                font-size: 13px;
                min-width: 150px;
                width: 150px;
                max-width: 150px;
                user-select: none;
            }

            .homeBodyDailyRecommendedUpperOptionText2 {
                font-size: 13px;
                min-width: 200px;
                width: 200px;
                max-width: 200px;
                margin-right: 60px;
                word-break: normal;
                word-wrap: normal;
            }

            .homeBodyDailyRecommendedUpperOptionText3 {
                font-size: 13px;
                min-width: 200px;
                width: 200px;
                max-width: 200px;
                user-select: none;
                color: var(--lightGray);
            }

        .homeBodyDailyRecommendedLower {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
        }

        .homeBodyDailyRecommendedLower1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

            .homeBodyDailyRecommendedLowerText1 {
                padding: 20px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border: 1px solid rgba(220, 220, 220, 0.4);
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
                cursor: pointer;
            }

            .homeBodyDailyRecommendedLowerText11 {
                font-size: 14px;
                font-weight: bold;
            }

            .homeBodyDailyRecommendedLowerText2Container {
                padding: 16px 24px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                border-radius: 1px;
                border-left: 1px solid rgba(220, 220, 220, 0.4);
                border-right: 1px solid rgba(220, 220, 220, 0.4);
                border-bottom: 1px solid rgba(220, 220, 220, 0.4);
            }

                .homeBodyDailyRecommendedLowerText2 {
                    font-size: 10px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    width: 100px;
                    color: var(--newGray);
                }

                .homeBodyDailyRecommendedLowerText22 {
                    font-size: 10px;
                    letter-spacing: 1px;
                    width: 250px;
                    margin-right: 60px;
                    color: var(--newGray);
                    font-weight: bold;
                }

                .homeBodyDailyRecommendedLowerText23 {
                    font-size: 10px;
                    letter-spacing: 1px;
                    width: 500px;
                    color: var(--newGray);
                    font-weight: bold;
                }

                .homeBodyDailyRecommendedLowerText24 {
                    font-size: 10px;
                    letter-spacing: 1px;
                    color: var(--newGray);
                    position: absolute;
                    right: 0;
                    margin-right: 84px;
                    font-weight: bold;
                }

            .homeBodyDailyRecommendedLowerOption {
                padding: 14px 24px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid rgba(220, 220, 220, 0.4);
                cursor: pointer;
                transition: 0.1s linear;
                background-color: white;
            }

            .homeBodyDailyRecommendedLowerOption:hover {
                transition: 0.1s linear;
                background-color: var(--darkGray);
            }

                .homeBodyDailyRecommendedLowerOptionText1 {
                    font-size: 13px;
                    min-width: 100px;
                    width: 100px;
                    max-width: 100px;
                    user-select: none;
                }

                .homeBodyDailyRecommendedLowerOptionText2 {
                    font-size: 13px;
                    min-width: 250px;
                    width: 250px;
                    max-width: 250px;
                    margin-right: 60px;
                    word-break: normal;
                    word-wrap: normal;
                }

                .homeBodyDailyRecommendedLowerOptionText3 {
                    font-size: 13px;
                    min-width: 60px;
                    width: 60px;
                    max-width: 60px;
                    position: absolute;
                    right: 0;
                    text-align: end;
                    margin-right: 84px;
                    user-select: none;
                }

                .blueText {
                    color: var(--lightGray) !important;
                    opacity: 1;
                    cursor: pointer;
                }

                .blueText1 {
                    color: #368dff !important;
                }

                .blueText2 {
                    color: #245fac !important;
                }

                .blueText3 {
                    color: #133360 !important;
                }

                .greenText {
                    color: var(--green) !important;
                }

                .yellowText {
                    color: var(--yellow) !important;
                }

                .redText {
                    color: var(--red) !important;
                }

                .homeBodyDailyRecommendedLowerTopics {
                    font-size: 13px;
                    margin-right: 80px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    max-width: 500px;
                }

                    .homeBodyDailyRecommendedLowerTopic {
                        padding: 4px 10px;
                        border-radius: 30px;
                        background-color: var(--darkGray);
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        margin-right: 10px;
                        margin-top: 4px;
                        margin-bottom: 4px;
                        user-select: none;
                        color: var(--newGray);
                    }

    .homeBodyChartsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

        .homeBodyChartsContainerUpper {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 28px;
        }

            .homeBodyChartsContainerUpperLeft {
                height: 400px;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
            }

                .homeBodyChartsContainerUpperLeftUpper {
                    padding: 24px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    border-bottom: 1px solid rgba(220, 220, 220, 0.4);
                }

                    .homeBodyChartsContainerUpperLeftUpperText {
                        font-size: 13px;
                        font-weight: bold;
                        color: var(--black);
                    }

                .homeBodyChartsContainerUpperLeftLower {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0 24px;
                }

            .homeBodyChartsContainerUpperRight {
                height: 400px;
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
            }

                .homeBodyChartsContainerUpperRightUpper {
                    padding: 24px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    border-bottom: 1px solid rgba(220, 220, 220, 0.4);
                }

                    .homeBodyChartsContainerUpperRightUpperText {
                        font-size: 13px;
                        font-weight: bold;
                        color: var(--black);
                    }

                .homeBodyChartsContainerUpperRightLower {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

        .homeBodyChartsContainerLower {
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }

            .homeBodyChartsContainerLowerLeft {
                height: 400px;
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
            }

                .homeBodyChartsContainerLowerLeftUpper {
                    padding: 24px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    border-bottom: 1px solid rgba(220, 220, 220, 0.4);
                }

                    .homeBodyChartsContainerLowerLeftUpperText {
                        font-size: 13px;
                        font-weight: bold;
                        color: var(--black);
                    }

                .homeBodyChartsContainerLowerLeftLower {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

            .homeBodyChartsContainerLowerRight {
                height: 400px;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
            }

                .homeBodyChartsContainerLowerRightUpper {
                    padding: 24px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid rgba(220, 220, 220, 0.4);
                }

                    .homeBodyChartsContainerLowerRightUpperText {
                        font-size: 13px;
                        font-weight: bold;
                        color: var(--black);
                    }

                    .homeBodyChartsContainerLowerRightUpperText2 {
                        font-size: 13px;
                        font-weight: bold;
                        color: var(--blue);
                    }

                .homeBodyChartsContainerLowerRightLower {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0 24px;
                }

                .homeBodyDailyRecommendedDivider {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 14px;
                    color: var(--lightGray);
                    padding-left: 40px;
                }
