.recommendedBody {
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 60px;
}

    .recommendedBodyContainerOverview {
        height: 100px;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid rgba(220, 220, 220, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 20px;
    }

        .recommendedBodyContainerOverviewLeft {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

            .recommendedBodySmallText {
                font-size: 10px;
                color: var(--lightGray);
                letter-spacing: 1px;
                margin-bottom: 8px;
            }

            .recommendedBodyHeaderText {
                font-size: 24px;
                color: var(--black);
                font-weight: 600;
            }

        .recommendedBodyContainerOverviewRight {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .recommendedBodyContainerOverviewRightButton {
                height: 40px;
                padding: 12px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background-color: var(--blue);
                color: white;
                font-size: 14px;
                cursor: pointer;
            }

    .recommendedBodyOptionsContainer {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        border: 1px solid rgba(220, 220, 220, 0.4);
        box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
        position: relative;
    }

        .recommendedBodyOptionContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            height: 300px;
            top: 30%;
            left: 30px;
        }

        .recommendedBodyOptionContainer2 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            height: 300px;
            top: 30%;
            left: 220px;
        }

        .recommendedBodyOptionContainer3 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            height: 300px;
            top: 30%;
            left: 410px;
        }

        .recommendedBodyOptionContainer4 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 30%;
            left: 600px;
            margin-top: 0.2px;
        }

        .recommendedBodyOptionContainer5 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: 30%;
            right: 30px;
            margin-top: 0.2px;
        }

            .recommendedBodyOptionMain {
                width: 150px;
                padding: 12px 18px;
                background-color: var(--darkGray);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
                position: relative;
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
            }

            .recommendedBodyOptionMain2 {
                width: 200px;
                padding: 12px 18px;
                background-color: var(--darkGray);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
                position: relative;
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
            }

            .recommendedBodyOptionMainButton {
                padding: 12px 18px;
                background-color: var(--blue);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
                position: relative;
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
                font-size: 14px;
                color: white;
            }

                .recommendedBodyOptionMainText {
                    font-size: 14px;
                }

                .recommendedBodyOptionChevron {
                    font-size: 14px;
                    margin-bottom: 0px;
                }

            .recommendedBodyOptionDropdown {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                /* border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px; */
                border-radius: 5px;
                overflow: hidden;
                margin-top: 10px;
                box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
                z-index: 2;
            }

                .recommendedBodyOption {
                    transition: 0.1s linear;
                    width: 150px;
                    padding: 14px 18px;
                    background-color: var(--darkGray);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                    font-size: 14px;
                    text-align: left;
                }

                .recommendedBodyOption:hover {
                    transition: 0.1s linear;
                    background-color: var(--gray);
                }

    .recommendedBodyCategoryContainer {
        padding: 6px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 1px;
        border-bottom: 1px solid rgba(220, 220, 220, 0.4);
        padding-left: 20px;
        /* border-left: 1px solid rgba(220, 220, 220, 0.4);
        border-right: 1px solid rgba(220, 220, 220, 0.4); */
    }

        .recommendedBodyCategory1 {
            padding: 12px 0px;
            width: 125px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyCategory2 {
            padding: 12px 0px;
            width: 250px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyCategory3 {
            padding: 12px 0px;
            width: 300px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyCategory4 {
            padding: 12px 0px;
            width: 200px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyCategory5 {
            padding: 12px 0px;
            width: 200px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyCategory11 {
            padding: 12px 0px;
            width: 220px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyCategory22 {
            padding: 12px 0px;
            width: 220px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyCategory55 {
            padding: 12px 0px;
            width: 220px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyCategoryText {
            font-size: 12px;
            color: var(--lightGray);
            user-select: none;
        }

        .recommendedBodyCategoryArrows {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .recommendedBodyCategoryArrowUp {
            font-size: 16px;
            position: absolute;
            bottom: -5px;
            color: var(--lightGray);
            margin-left: 40px;
        }

        .recommendedBodyCategoryArrowDown {
            font-size: 16px;
            position: absolute;
            top: -5px;
            color: var(--lightGray);
            margin-left: 40px;
        }

    .recommendedBodyProblemsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

        .recommendedBodyProblemsOption {
            padding: 12px 0px;
            padding-left: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid rgba(220, 220, 220, 0.4);
            cursor: pointer;
            transition: 0.1s linear;
            background-color: white;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyProblemsOption2 {
            padding: 18px 0px;
            padding-left: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid rgba(220, 220, 220, 0.4);
            cursor: pointer;
            transition: 0.1s linear;
            background-color: white;
            position: relative;
            z-index: 1;
        }

        .recommendedBodyProblemsOption:hover {
            transition: 0.1s linear;
            background-color: var(--darkGray);
        }

        .recommendedBodyProblemsOption2:hover {
            transition: 0.1s linear;
            background-color: var(--darkGray);
        }

            .recommendedBodyProblemsOptionText1 {
                font-size: 13px;
                min-width: 125px;
                width: 125px;
                max-width: 125px;
                user-select: none;
            }

            .recommendedBodyProblemsOptionText2 {
                font-size: 13px;
                min-width: 250px;
                width: 250px;
                max-width: 250px;
                word-break: normal;
                word-wrap: normal;
                padding-right: 40px;
            }

            .recommendedBodyProblemsOptionText3 {
                font-size: 13px;
                min-width: 200px;
                width: 200px;
                max-width: 200px;
            }

            .recommendedBodyProblemsOptionText4 {
                font-size: 13px;
                min-width: 200px;
                width: 200px;
                max-width: 200px;
                color: var(--lightGray);
            }

            .recommendedBodyProblemsOptionText11 {
                font-size: 13px;
                min-width: 220px;
                width: 220px;
                max-width: 220px;
                user-select: none;
            }

            .recommendedBodyProblemsOptionText22 {
                font-size: 13px;
                min-width: 220px;
                width: 220px;
                max-width: 220px;
                word-break: normal;
                word-wrap: normal;
                padding-right: 40px;
            }

            .recommendedBodyProblemsOptionText44 {
                font-size: 13px;
                min-width: 220px;
                width: 220px;
                max-width: 220px;
                color: var(--lightGray);
            }

            .blueText {
                color: var(--lightGray) !important;
                opacity: 1;
                cursor: pointer;
            }

            .blueText1 {
                color: #368dff !important;
            }

            .blueText2 {
                color: #245fac !important;
            }

            .blueText3 {
                color: #133360 !important;
            }

            .greenText {
                color: var(--green) !important;
            }

            .yellowText {
                color: var(--yellow) !important;
            }

            .redText {
                color: var(--red) !important;
            }

            .recommendedBodyProblemsTopics {
                font-size: 13px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                max-width: 300px;
                padding-right: 40px;
            }

                .recommendedBodyProblemsTopic {
                    padding: 4px 10px;
                    border-radius: 30px;
                    background-color: var(--darkGray);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    margin-right: 10px;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    user-select: none;
                    color: var(--newGray);
                }

    .recommendedBodyTitleContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        border: 1px solid rgba(220, 220, 220, 0.4);
        padding: 18px 24px;
        box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
        cursor: pointer;
        margin-top: 60px;
    }

    .recommendedBodyTitleContainer2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        border: 1px solid rgba(220, 220, 220, 0.4);
        padding: 20px 24px;
        box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
        cursor: pointer;
    }

    .recommendedBodyTitle {
        font-size: 15px;
        user-select: none;
        font-weight: bold;
    }

    .recommendedBodyTitleIcon {
        font-size: 18px;
    }

    .blueText1 {
        color: #368dff !important;
    }

    .blueText2 {
        color: #245fac !important;
    }

    .blueText3 {
        color: #133360 !important;
    }
